.dashboard {
  color: white;
  height: 100vh;
  width: 100%;
}
.dashboard__heading h2 {
  text-align: center;
  font-weight: 900;
}
.dashboard__heading {
  border-bottom: 2px solid gray;
  width: fit-content;
  margin: auto;
}
.dashboard__signout {
  border: none;
  cursor: pointer;
  background-color: #e50914;
  color: white;
  width: fit-content;
  margin: 20px auto;
  font-weight: 700;
  height: fit-content;
}
.dashboard__center {
  display: flex;

  width: fit-content;
  margin: auto;
}
/* .dashboard__left{

} */
.dashboard__left img {
  height: 150px;
  width: 150px;
  margin-right: 30px;
  padding: 15px;
}
.dashboard__right {
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.dashboard__right h3 {
  background-color: gray;
  padding: 15px;
  font-size: large;
}

.plan__name {
  background-color: cadetblue;

  /* width: 100%; */
  text-align: center;
}
.plan__name:hover {
  background-color: blue;
  cursor: pointer;
}
.criteria__header {
  text-align: left;
}
table {
  empty-cells: show;
  width: 80%;
  margin: auto;
}
th {
  empty-cells: show;
  height: 100px;
  width: 200px;
}
td {
  empty-cells: show;
  height: 70px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
}
.wrapper__plan {
  /* height: 100%; */
}

tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}
