.dashboard {
  color: white;
  width: 100%;
  /* position: fixed;
  top: 0; */

  height: 100vh;
  overflow-y: scroll;
  background-color: black;
  /* margin-top: 50px; */
}

.dashboard__heading h2 {
  text-align: center;
  font-weight: 900;
}
.dashboard__alert {
  margin: 100px auto;
  background-color: #e50914;
  color: white;
  width: fit-content;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  border-radius: 4px;
}
.dashboard__alertButton {
  background-color: inherit;
  margin: 0 10px;
  border: none;
  color: white;
}
.dashboard__myList {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  z-index: 2;
}
.dashboard__myList::-webkit-scrollbar {
  display: none;
}
.dashboard__listMovie {
  margin: 0 5px;
}
.dashboard__userRelated {
  margin: 0 5px;
}
.dashboard__userRelated h2 {
  font-weight: 700;
}
.dashboard__listposter {
  object-fit: contain;
  height: 200px;
  width: 300px;
  position: relative;
  border-radius: 15px;
}
.dashboard__listButtons {
  display: flex;
}
.dashboard__listButtons button {
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 50%;

  border: none;
}
.dashboard__listPlay {
  background-color: #e50914;

  /* bottom: 0;
  left: 0; */
  z-index: 3;
}
.dashboard__alert h2 {
  text-align: center;
}
.dashboard__heading {
  border-bottom: 2px solid gray;
  width: fit-content;
  margin: auto;
}

.dashboard__action {
  display: flex;
  /* flex-direction: column; */
  border: 2px solid gray;
  padding: 15px;
  margin-top: 100px;
}
.dashboard__signout {
  border: none;
  cursor: pointer;
  background-color: #e50914;
  color: white;
  width: fit-content;
  font-weight: 700;
  height: fit-content;
}
.dashboard__center {
  display: flex;
  margin-top: 80px;
}
.dashboard__left {
  width: 50%;
  margin-left: 20px;
}
.dashboard__left img {
  height: 150px;
  width: 150px;
  margin-right: 30px;
  padding: 15px;
}
.dashboard__right {
  width:250px;
  margin: auto;
  /* margin-left: 30px; */
  display: flex;
  flex-direction: column;
  background-color: rgba(54, 51, 51, 0.4);
  padding: 10px;
  border-radius: 10px;
  height: 100px;
}

.plan__name {
  background-color: cadetblue;
  vertical-align: middle;

  text-align: center;
}
.plan__name:hover {
  background-color: blue;
  cursor: pointer;
}
.criteria__header {
  text-align: left;
}
table {
  empty-cells: show;
  width: 80%;
  margin: auto;
}
th {
  empty-cells: show;
  height: 100px;
  width: 200px;
}
td {
  empty-cells: show;
  height: 70px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
}

tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid gray;
}
.wrapper__plan {
  margin: auto;
  margin-top: 90px;
  width: 90%;
}
