.banner {
  position: relative;
  height: 100vh;
  object-fit: contain;
  color: white;
}

/* .banner__title {
} */
.banner__description{
  font-weight: 600;
}
.banner__fadeBottom {
  height: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
.transparent{
  width: 60%;
  height: 100vh;
  position: absolute;
  z-index: 4;
  padding:5%;
  margin-top: 50px;
}
.transparent h1{
  font-weight: 700;
  
}
