.banner {
  position: relative;
  height: 500px;
  object-fit: contain;
  color: white;
}
.banner__contents {
  margin: auto;
}
/* .banner__title {
} */
.left_gradient {
  height: 500px;
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
.right_gradient {
  height: 500px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
.banner__fadeBottom {
  height: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
