.banner {
	position: relative;
	height: 448px;
	object-fit: contain;
}
.banner__title {
	font-size: 3rem;
	font-weight: 800;
	padding-bottom: 0.3 rem;
}
.banner__fadeBottom {
	height: 358px;
	background-image: linear-gradient(
		180deg,
		transparent,
		rgba(37, 37, 37, 0.61),
		#111
	);
}
