.navbar__native {
  /* background-color: rgba(255, 255, 255, 0); */
  z-index: 10;
  height: 100px;
  position: fixed;
  top: 0;
  display:flex;
  justify-content:space-between;
  width: 100%;
  padding: 10px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.navbar__black {
  background-color: black;
  background-image: none;
}
.user__avatar {
  height: 60px;
  margin-right: 20px;
  cursor: pointer;
}
.nav__logout {
  border: none;
  cursor: pointer;
  background-color: red;
  color: white;
  font-weight: 700;
  height: fit-content;
}
.nav__left {
  display: flex;
  align-items: center;
}
