.payment {
  height: 100vh;
  position: fixed;
  width: 100%;
  background-color: black;
  top: 0;
}
.payment__wrapper {
  width: 400px;
  border: 1px solid gray;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  align-items: center;
  /* justify-content: center; */
}
.payment__plandescription h2 {
  font-weight: 700;
  text-decoration: underline;
  width: fit-content;
  padding: 10px;
  text-align: center;
  /* margin-top: 200px; */
  margin-bottom: 25px;
}

.payment__checkout {
  padding: 20px;
  height: fit-content;
}
.footer__image {
  width: 100%;
  margin: auto;
  object-fit: contain;
}
