.genre {
  color: white;
}
.row__movies {
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__movies::-webkit-scrollbar {
  display: none;
}
.row__movies {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.genre__heading {
  margin-top: 20px;
  font-weight: 700;
}
.row__movie {
  margin: 0 5px;
  width: 280px;
  z-index: 5;
  border-radius: 8px;
  height: 200px;
  cursor: pointer;
  transition-timing-function: ease-in;
  transition: all 350ms;
}
.row__movielarge {
  height: 300px;
  transition-timing-function: ease-in;
  transition: all 350ms;
}
.row__movielarge:hover {
  transform: scale(1.08);
}
.row__movie:hover {
  width: 340px;
  transform: scaleY(1.2);
  opacity: 1;
}
.modal__movie {
  /* height: 100%; */
  width: 60%;
  position: fixed;
  z-index: 13;
  top: 5%;
  left: 20%;
  right: 20%;
  bottom: 8%;
  border-radius: 10px;
  border: 2px solid red;
  background-color: #111;
  transition: all 250ms;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  transition-timing-function: ease-in;
}
.modal__movieBanner {
  width: 100%;
  height: 600px;
  border-radius: inherit;
  z-index: 12;
  /* object-fit: contain; */
}
.modal__button {
  border: 1px solid white;
  border-radius: 50%;
  position: fixed;
  top: 6%;
  right: 21%;
  background-color: black;
  color: white;
  z-index: 14;
}
.modal__description {
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  height: fit-content;
  z-index: 14;
}
.modal__description h1 {
  font-weight: 800;
}
.modal__description h4 {
  font-weight: 600;
}
.modal__gradient {
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(37, 37, 37, 0.21),
    #111
  );
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  z-index: 13;
}

.background__fade {
  background-color: rgba(0, 0, 0, 0.7);
  height: 1000px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 12;
}
