.genre {
  color: white;
}
.row__movies {
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__movies::-webkit-scrollbar {
  display: none;
}
.row__movies {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.genre__heading {
  margin-top: 20px;
  font-weight: 700;
}
.row__movie {
  margin: 0 10px;
  width: 280px;
  height: 200px;
}
.row__movielarge {
  height: 300px;
  transition: transform 450ms;
}
.row__movielarge:hover {
  transform: scale(1.08);
  opacity: 1;
}
.noDisplay {
  display: none;
}
.textDisplay {
  display: relative;
  font-weight: 600;
}
.row__moviehover {
  opacity: 0.5;
}
